<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-form">
    <div class="field">
      <%= form.label :名前, class: "label" %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :すること, class: "label" %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :どんなこと, class: "label" %>
      <%= form.text_area :description %>
    </div>

    <div class="field">
      <%= form.label :いつから, class: "label" %>
      <%= form.datetime_select :start_date, use_month_numbers: true %>
    </div>

    <div class="field">
      <%= form.label :いつまで, class: "label" %>
      <%= form.datetime_select :end_date, use_month_numbers: true %>
    </div>

    <div class="actions">
      <%= form.submit :送信する, class: "label" %>
    </div>
  </div>
<% end %>
