<p id="notice"><%= notice %></p>

<div class="outer">
  <div class="header__outer">
    <div class="header-show">
      <%= "#{@event.name}の予定" %>
    </div>
    <hr class="style__line">
  </div>
  <div class="content">
    <div class="title">すること</div>
    <div class="title__content">
      <%= @event.title %>
    </div>
    <hr class="style__line">

    <div class="detail">どんなこと</div>
    <div class="detail__content">
      <%= @event.description %>
    </div>
    <hr class="style__line">

    <div class="start">いつから</div>
    <div class="start__content">
      <%= @event.start_date.strftime("%Y-%m-%d %H:%M:%S") %>
    </div>
    <hr class="style__line">

    <div class="end">いつまで</div>
    <div class="end__content">
      <%= @event.end_date.strftime("%Y-%m-%d %H:%M:%S") %>
    </div>
    <hr class="style__line">
  </div>
  <div class="link">
      <%= link_to '編集', edit_event_path %>
      <%= link_to '消す', @event, method: :delete, data: { confirm: '消してもいいですか?' } %>
      <div class="link__top">
        <%= link_to 'トップページにもどる', events_path %>
      </div>
  </div>
  <%= form_with(model: [@event, Comment.new], local: true) do |form| %>
    <div class="comment__form">
      <%= form.label :コメントを書く, class: 'comment__label' %>
      <%= form.text_field :text %>
    <div>
      <%= button_tag type: 'submit', class: 'form__button' do %>
        コメントする
      <% end %>
    </div>
    </div>
  <% end %>
  <div class="comments__list">
    ＜コメント一覧＞
    <% if @comments  %>
      <% @comments.each do |comment| %>
        <p class="comment__text">
          <%= comment.text %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>